<?xml version="1.0"?>
<config>
  <modules>
    <Etu_Er>
      <version>0.1.0</version>
    </Etu_Er>
  </modules>
  <frontend>
    <routers>
      <er>
        <use>standard</use>
          <args>
            <module>Etu_Er</module>
            <frontName>er</frontName>
          </args>
      </er>
    </routers>
		<layout>
		  <updates>
			<er>
			  <file>er.xml</file>
			</er>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <er>
        <class>Etu_Er_Helper</class>
      </er>
    </helpers>
	<blocks>
	  <er>
		<class>Etu_Er_Block</class>
	  </er>
			<catalog>
				<rewrite>
					<product_list_upsell>Etu_Er_Block_Catalog_Product_List_Upsell</product_list_upsell>
				</rewrite>
			</catalog>
			<catalog>
				<rewrite>
					<product_list_related>Etu_Er_Block_Catalog_Product_List_Related</product_list_related>
				</rewrite>
			</catalog>
			<checkout>
				<rewrite>
					<cart_crosssell>Etu_Er_Block_Checkout_Cart_Crosssell</cart_crosssell>
				</rewrite>
			</checkout>
	</blocks>
  </global>
</config> 